/* Upgrade box container */
.upgrade-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative; /* This is required for the tooltip to work */
    cursor: pointer;
    z-index: 100;
  }

  /* Make sure the upgrade items are displayed horizontally */
.upgrades-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    padding: 10px 0;
    justify-content: flex-start; /* Align items to the left */
    gap: 10px; /* Space between buttons */
    width: 100%;
    position: relative;
    overflow-y: hidden;
    z-index: 1;
}


.upgrade-item {
    width: 60px; /* Box size */
    height: 60px;
    border: 6px solid #bbbbbb; /* Border around the box */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    flex-direction: row;
  }
  

/* Hover effect for the box */
.upgrade-item:hover {
    border-color: #9b9b9b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #c7c7c7;
  }

.upgrade-item:active {
    background-color: #333c6b; /* Dark background when clicked */
}



/* Disable button style if not affordable */
.upgrade-item.too-expensive {
    opacity: 0.5; /* Dim the button */
    cursor: not-allowed; /* Make the cursor indicate it's disabled */
}

.upgrade-item.too-expensive:hover {
    background: linear-gradient(135deg, #4b6cb7, #182848); /* No hover effect */
}


  /* Icon inside the box */
.upgrade-icon img {
    width: 40px; /* Icon size */
    height: 40px;
    object-fit: contain;
  }

  /* Tooltip */
.tooltip-upgrade {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    white-space: normal; /* Ensure wrapping of description text */
  }

  /* Tooltip content */
.tooltip-upgrade-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Tooltip cookie cost */
  .tooltip-upgrade-cost {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cookie-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  /* Hover effect to show tooltip */
.upgrade-item:hover .tooltip-upgrade {
    visibility: visible;
    opacity: 1;
  }

    /* Hover effect to show tooltip */
.tooltip-upgrade-description {
    font-size: 0.7rem;
  }